NEXT_PUBLIC_MEASUREMENTID=G-JxxxxxxxxH

NEXT_PUBLIC_APPID=1:xxxxxxxxxxxxx:web:xxxxxxxxxxxxxxxxxxxxxxxxxxxx

NEXT_PUBLIC_MESSAGINGSENDERID=3xxxxxxxxxxxx


NEXT_PUBLIC_STORAGEBUCKET=xxxxxxxx.firebasestorage.app


NEXT_PUBLIC_PROJECTID=xxxxxxxxx


NEXT_PUBLIC_AUTHDOMAIN=xxxxxxxx.firebaseapp.com


NEXT_PUBLIC_APIKEY=Axxxxxx_-xxxxxxxxxxx-xxxxxxxxxxx

FIREBASE_ADMIN_KEY='{
  "type": "xxx_xxxx",
  "project_id": "xxxxxxxx",
  "private_key_id": "xxxxxxx",
  "private_key": "-----BEGIN PRIVATE KEY-----\xxxxxxx\n-----END PRIVATE KEY-----\n",
  "client_email": "xxxxxxxx",
  "client_id": "xxxxxxx",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/xxxxxxx",
  "universe_domain": "googleapis.com"
}'


CLOUDINARY_API_SECRET=xxxxxxxxxx